# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
aenv/
*.egg-info/
dist/
build/

# Recordings
recordings/

# IDE and OS
.idea/
.vscode/
*.swp
.DS_Store

# Large binary files
*.so
*.a
*.o
*.dll

# Git LFS tracked files
aenv/lib/python3.8/site-packages/llvmlite/binding/libllvmlite.so
